

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;

}
h2{
    .cenetered{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate (-50%,-50%);
    }
}